html {
  height: 100%;
  width: 100%;
}

/* Apply some basic styling to the body element */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Style the question container */
.question-container {
  margin-bottom: 20px;
}

/* Hide all the question containers except the first one */
.hidden {
  display: none;
}

/* Style the heading and paragraph elements within the question container */
.question-container h2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-container p {
  margin-bottom: 10px;
}

/* Style the answer buttons */
.answer-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the answer buttons on hover */
.answer-btn:hover {
  transform: scale(1.1);
  background-color: #ccc;
}

.container {
  /* Set the display property to flex to enable flexbox */
  display: flex;
  /* Set the justify-content property to center to center the elements horizontally */
  justify-content: center;
  /* Set the align-items property to center to center the elements vertically */
  align-items: center;
  /* Set the height of the container to fill the viewport */
  height: 100vh;
}

.flashy-cool {
  /* Set the background color to a yellow and gold gradient */
  background-image: linear-gradient(45deg, #ffd700, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 20px;
  /* Set the padding to 20 pixels on all sides */
  padding: 20px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
}

.flashy-cool2 {
  /* Set the background color to a yellow and gold gradient */
  background-image: linear-gradient(45deg, #ff6600, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: left;
}

.flashy-cool3 {
  /* Set the background color to a yellow and gold gradient */
 background-image: linear-gradient(45deg, #ffd700, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: left;
}
/* 결과 헤드라인 */
.flashy-cool4 {
  /* Set the background color to a yellow and gold gradient */
  background-image: linear-gradient(45deg, #ff6600, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
}



/* Add a hover effect to scale the element up slightly */
.flashy-cool:hover {
  transform: scale(1.1);
}
.flashy-cool2:hover {
  transform: scale(1.1);
}
.flashy-cool3:hover {
  transform: scale(1.1);
}
.flashy-cool4:hover {
  transform: scale(1.1);
}

/* 이미지 관련 */


.img-1{
  text-align: center;
  position: relative;  
  display: inline-block;
}

.image-container {
  max-width: 10%;
  max-height: 10%;
  margin: 0 auto;
  margin-top: 25%;
}


.image-text {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* 사업설명 */


.disc {
  background-image: linear-gradient(to bottom, #FFD280, #F0C75E); /* Gradient from lighter to darker yellow */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Dark gray text color for contrast */
  padding: 30px;
  text-align: left;
  width: 100%;
  max-width: 700px;
  border-radius: 15px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box-shadow for depth */
  text-shadow: 0.1px 0.1px 0.1px #000;
}


.disc_inner {
  background-image: linear-gradient(to bottom, #FFD280, #F0C75E); /* Gradient from lighter to darker yellow */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Dark gray text color for contrast */
  padding: 30px;
  text-align: left;
  width: 100%;
  max-width: 630px;
  border-radius: 15px; /* Rounded corners for a softer look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Light box-shadow for depth */
  text-shadow: 0.1px 0.1px 0.1px #000;
}


.floating-bt {
  position: fixed; /* 고정 위치 */
  bottom: 20px; /* 화면 하단에서 10픽셀 떨어진 위치 */
  left: 20px; /* 화면 오른쪽에서 10픽셀 떨어진 위치 */
 
}

.bt {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-image: linear-gradient(-45deg, #f69f09, #ffffff);
  color: #000000;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  width: 150px;
  height: 50px;
  font-size: 13px;
  font-weight: bold;
  border-style: none;
  box-shadow: 0px 0px 5px #ccc;
    
}

.bt:hover {
  transform: scale(1.1);
}

.bt-ton1 {
  font-size: 50px;/* 버튼 1의 스타일 */
 
}

.bt-ton2 {
  font-size: 20px;/* 버튼 2의 스타일 */
 
}