html {
  height: 100%;
  width: 100%;
}

/* Apply some basic styling to the body element */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  max-width: 630px;
  margin: 0 auto;
}

/* Hide all the question containers except the first one */
.hidden {
  display: none;
}


/* Style the answer buttons */
.answer-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the answer buttons on hover */
.answer-btn:hover {
  transform: scale(1.1);
  background-color: #ccc;
}

.flashy-cool {
  display: flex; /* 요소를 플렉스 박스(flex box)로 지정 */
  justify-content: center; /* 요소를 수평 중앙 정렬 */
  /* Set the background color to a yellow and gold gradient */
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 16px;
  /* Set the padding to 20 pixels on all sides */
  padding: 20px;
   /* Add margin between the elements */
  margin: 20px;
  /* Add a box-shadow for a fancy effect */
  
  transition: transform 0.3s ease-in-out;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-weight: bold; /* 굵은 글씨 적용 */
  margin-left: 50px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #FFE680, #FFC14E);
 

}

.flashy-cool2 { 
  /* Set the background color to a yellow and gold gradient */
  background-image: linear-gradient(45deg, #ff6600, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: left;
  font-weight: bold;
}

.flashy-cool3 {
  /* Set the background color to a yellow and gold gradient */
 background-image: linear-gradient(45deg, #ffd700, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: left;
}
/* 결과 헤드라인 */
.flashy-cool4 {
  /* Set the background color to a yellow and gold gradient */
  background-image: linear-gradient(45deg, #ff6600, #ffdab9);
  /* Set the font color to black */
  color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  width: 100%;
  max-width: 300px;
}
 /* 시작할때 */
.flashy-cools {  
  background-image: linear-gradient(45deg, #ff6600, #ffdab9);
   color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  width: 100%; 
}

/* 이전으로 */
.flashy-coolpre {  
  background-image: linear-gradient(45deg, #ffd700, #ffdab9);
   color: #000;
  /* Set the font size to 48 pixels */
  font-size: 15px;
  /* Set the padding to 20 pixels on all sides */
  padding: 15px;
  /* Set the border radius to 10 pixels */
  border-radius: 10px;
  /* Add margin between the elements */
  margin: 10px;
  /* Add a box-shadow for a fancy effect */
  box-shadow: 0px 0px 20px #000;
  /* Add a transition effect for when the element is hovered over */
  transition: transform 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  width: 100%;
  }



/* Add a hover effect to scale the element up slightly */
.flashy-cool:hover {
  transform: scale(1.1);
}
.flashy-cool2:hover {
  transform: scale(1.1);
}
.flashy-cool3:hover {
  transform: scale(1.1);
}
.flashy-cool4:hover {
  transform: scale(1.1);
}

/* 이미지 관련 */


.img-1{
  text-align: center;
  position: relative;  
  display: inline-block;
}

.image-container {
  max-width: 10%;
  max-height: 10%;
  margin: 0 auto;
  margin-top: 25%;
  margin-bottom: 25%;
}


.image-text {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* 사업설명 */


.disc {
  background-image: linear-gradient(to bottom, #FFD280, #F0C75E); /* Gradient from lighter to darker yellow */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Dark gray text color for contrast */
  padding: 20px;
  text-align: left;
  width: 100%;
  max-width: 550px;
  border-radius: 15px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box-shadow for depth */
  text-shadow: 0.1px 0.1px 0.1px #000;
  margin-left: 25px;
}


.disc_inner {
  background-image: linear-gradient(to bottom, #FFD280, #F0C75E); /* Gradient from lighter to darker yellow */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Dark gray text color for contrast */
  padding: 30px;
  text-align: left;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 15px; /* Rounded corners for a softer look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Light box-shadow for depth */
  text-shadow: 0.1px 0.1px 0.1px #000;
}


.floating-bt {
position: sticky;
bottom: 30px;
left: 30px;
margin-top: 30px;
 
}

.bt {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-image: linear-gradient(-45deg, #f69f09, #ffffff);
  color: #000000;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  width: 150px;
  height: 50px;
  font-size: 13px;
  font-weight: bold;
  border-style: none;
  box-shadow: 0px 0px 5px #ccc;
    
}

.bt:hover {
  transform: scale(1.1);
}

.bt-ton1 {
  font-size: 50px;/* 버튼 1의 스타일 */
 
}

.bt-ton2 {
  font-size: 20px;/* 버튼 2의 스타일 */
 
}